<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>COVID-19 Prediction</h1>
      <form action="/predict" method="POST">
        <label>Breathing Problem:</label>
        <input
          type="number"
          name="Breathing Problem"
          min="0"
          max="1"
          required
        />

        <label>Fever:</label>
        <input type="number" name="Fever" min="0" max="1" required />

        <label>Dry Cough:</label>
        <input type="number" name="Dry Cough" min="0" max="1" required />

        <label>Sore throat:</label>
        <input type="number" name="Sore throat" min="0" max="1" required />

        <label>Running Nose:</label>
        <input type="number" name="Running Nose" min="0" max="1" required />

        <label>Asthma:</label>
        <input type="number" name="Asthma" min="0" max="1" required />

        <label>Chronic Lung Disease:</label>
        <input
          type="number"
          name="Chronic Lung Disease"
          min="0"
          max="1"
          required
        />

        <label>Headache:</label>
        <input type="number" name="Headache" min="0" max="1" required />

        <label>Heart Disease:</label>
        <input type="number" name="Heart Disease" min="0" max="1" required />

        <label>Diabetes:</label>
        <input type="number" name="Diabetes" min="0" max="1" required />

        <label>Hyper Tension:</label>
        <input type="number" name="Hyper Tension" min="0" max="1" required />

        <label>Fatigue:</label>
        <input type="number" name="Fatigue" min="0" max="1" required />

        <label>Gastrointestinal:</label>
        <input type="number" name="Gastrointestinal" min="0" max="1" required />

        <label>Abroad travel:</label>
        <input type="number" name="Abroad travel" min="0" max="1" required />

        <label>Contact with COVID Patient:</label>
        <input
          type="number"
          name="Contact with COVID Patient"
          min="0"
          max="1"
          required
        />

        <label>Attended Large Gathering:</label>
        <input
          type="number"
          name="Attended Large Gathering"
          min="0"
          max="1"
          required
        />

        <label>Visited Public Exposed Places:</label>
        <input
          type="number"
          name="Visited Public Exposed Places"
          min="0"
          max="1"
          required
        />

        <label>Family working in Public Exposed Places:</label>
        <input
          type="number"
          name="Family working in Public Exposed Places"
          min="0"
          max="1"
          required
        />

        <label>Wearing Masks:</label>
        <input type="number" name="Wearing Masks" min="0" max="1" required />

        <label>Sanitization from Market:</label>
        <input
          type="number"
          name="Sanitization from Market"
          min="0"
          max="1"
          required
        />

        <button type="submit">Predict</button>
      </form>

      {% if prediction_text %}
      <div class="result">{{ prediction_text }}</div>
      <h1>Prediction Result</h1>
      <p>COVID-19 Status: {{ prediction }}</p>
      {% endif %}
    </div>
  </body>
</html>
